#container-grid {
    display: grid;
    grid-template:
    "nav" auto
    "banner" 400px
    "descripcion" auto
    "feature" auto
    "ubicacion" auto
    "opinion" auto
    "footer" auto
}
    

/*Estilos Grid Items*/
  

/*Resoluci贸n tabletas*/
@media screen and (min-width:768px) {

}

/*Resoluci贸n resoluciones medias*/
@media screen and (min-width:1024px) {

}

/*Resoluci贸n resoluciones macro*/
/*Resoluci贸n resoluciones macro*/
@media screen and (min-width:1308px) {
    body{
    background-color: #EAEAEA;
    }
    #container-grid{
    max-width: 1300px;
    margin: 0 auto;
    }
    nav{
    width: 100%;
    max-width: 1300px;
    }
}
    