@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');

/* root.css */

:root {
    --azul: #007bff;
    --rojo: #dc3545;
    --verde: #28a745;
    --amarillo: #ffc107;
    --naranja: #fd7e14;
    --rosa: #e83e8c;
    --violeta: #6f42c1;
    --morado: #8a2be2;
    --turquesa: #20c997;
    --cyan: #17a2b8;
    --gris: #6c757d;
    --negro: #343a40;
    --blanco: #fff;
    --marron: #8b4513;
    --oliva: #808000;
    --azul-oscuro: #00008b;
    --rojo-oscuro: #8b0000;
    --verde-oscuro: #006400;
    --rosa-oscuro: #8b008b;
    --violeta-oscuro: #9400d3;
    --naranja-oscuro: #8b4500;
    --turquesa-oscuro: #008b8b;
    --cyan-oscuro: #008b8b;
    --amarillo-oscuro: #8b8b00;
    --marron-oscuro: #a52a2a;
}

body {
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--negro);
    font-family: 'Marcellus', serif;
    font-size: 1.3em;
    padding: 1rem;
}

.item {
    padding: 1rem;
}

.menu a {
    color: var(--blanco);
    text-decoration: none;
}

.navbar-button {
    background-color: var(--azuloscuro);
    padding: 0.5rem 1rem;
    color: var(--blanco);
    border-radius: 5px;
    font-family: 'Marcellus', serif;
    font-size: 1em;
}

.menu i {
    margin-right: 0.5rem;
}

.logo img {
    height: 3rem;
}

#features {
    background: url(../img/index/bg-features.png);
    color: white;
    padding-top: 1rem;
}

.features-title {
    background-color: rgba(0, 0, 0, 0.35);
    text-align: center;
    padding: 0.5rem;
    font-size: 1.5em;
}

.features-description {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

Estilizaremos las cajas conforme al diseño .feature {
    width: 25%;
    min-width: 180px;
    max-width: 230px;
    margin: 0.8rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.feature i {
    font-size: 2.2em;
    margin-bottom: 1.5rem;
}

Por último,
los colores de las cajas .feature-blue {
    background-color: #00325eae;
}

.feature-black {
    background-color: rgba(0, 0, 0, 0.59);
}